<footer class="site-footer h-card">
    <data class="u-url" href="{{ " / " | relative_url }}"></data>
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="logo-box">
                <div>
                    <a href="https://cse.ucsd.edu/" target="_blank">
                        <img src="/assets/images/affiliations/ucsd.png" alt="UCSD CSE Logo" style="vertical-align:middle; display:inline-block;">
                    </a>
                </div>
                <div>
                    <a href="https://cs.illinois.edu/" target="_blank">
                        <img src="/assets/images/affiliations/uiuc.png" alt="UIUC Logo" style="vertical-align:middle; display:inline-block;">
                    </a>
                </div>
                <div>
                    <a href="https://www.cs.oberlin.edu/" target="_blank">
                        <img src="/assets/images/affiliations/oberlin.png" alt="Oberlin College Logo" style="vertical-align:middle; display:inline-block;">
                    </a>
                </div>
                <div>
                    <a href="https://www.cs.washington.edu/" target="_blank">
                        <img src="/assets/images/affiliations/uw.png" alt="UW CSE Logo" style="vertical-align:middle; display:inline-block;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="/assets/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/assets/bower_components/vide/dist/jquery.vide.min.js"></script>
<!-- <script src="/assets/js/auto-video.js"></script> -->