<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <p style="text-align: center">
                <img src="/assets/images/logos/aerosec.svg" alt="logo" />
            </p>
            <table style="table-layout:fixed; width:100%; border: none;">
                <tbody>
                    <tr>
                        <td style="width: 25%; border: none;">
                            <a href="https://cse.ucsd.edu/" target="_blank">
                                <img src="/assets/images/affiliations/ucsd.png" alt="UCSD CSE Logo" style="vertical-align:middle; display:inline-block;">
                            </a>
                        </td>
                        <td style="width: 25%; border: none;">
                            <a href="https://cs.illinois.edu/" target="_blank">
                                <img src="/assets/images/affiliations/uiuc.png" alt="UIUC Logo" style="vertical-align:middle; display:inline-block;">
                            </a>
                        </td>
                        <td style="width: 25%; border: none;">
                            <a href="https://www.cs.oberlin.edu/" target="_blank">
                                <img src="/assets/images/affiliations/oberlin.png" alt="Oberlin College Logo" style="vertical-align:middle; display:inline-block;">
                            </a>
                        </td>
                        <td style="width: 25%; border: none;">
                            <a href="https://www.cs.washington.edu/" target="_blank">
                                <img src="/assets/images/affiliations/uw.png" alt="UW CSE Logo" style="vertical-align:middle; display:inline-block;">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</footer>