.people-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, auto));
}

.people-box div {
    padding: 10px;
}

.people-box div figcaption {
    text-align: center;
}

.logo-box {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.logo-box div {
    padding: 10px;
}

.vide-target {
    // position: fixed;
    // /* Sit on top of the page content */
    // // display: none;
    // /* Hidden by default */
    // width: 100%;
    // /* Full width (cover the whole page) */
    // height: 100%;
    // /* Full height (cover the whole page) */
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // // z-index: 3;
}

.site-header {
    background-color: white;
}

.site-footer {
    background-color: white;
}

.wrapper {
    background-color: white;
    border-radius: 20px;
}