<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="vide-target" data-vide-bg="/assets/images/aero.min.mp4" data-vide-options="posterType: mp4, muted: true, position: 0% 0%, resizing: false"></div>

    <main class="page-content" aria-label="Content">

      <div class="wrapper">

        <p style="text-align: center; padding-top: 20px;">
          <img src="/assets/images/logos/aerosec.svg" alt="logo" />
        </p>

        <h1 style="text-align: center;">
          AEROSEC: The Aviation Cyber Security Group
        </h1>

        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
